* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
.container {
    width: 100%;
    height: 100vh;
    background-color: #0b323b;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0px 30px 0px;
}
.description-container {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description-main {
    height: 450px;
    /* background-color: yellow; */
    background: url("/images/nft.jpg");
    border: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
}
.description-main h2 {
    color: white;
    padding-top: 70px;
}
.description-footer {
    height: 60px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0px 40px;
}
h1 {
    /* width: 100%; */
    line-height: 0.8;
    color: #0b323b;
}
h1 span {
    font-size: 20px;
}

.signup-container {
    width: 25%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 40px 40px 40px;
}
.signup-header {
    height: 60px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.signup-header h1{
    color: #0b323b;
}
.signup-main {
    height: 300px;
    /* background-color: yellow; */
}
.signup-main .form-list {
    margin-bottom: 20px;
}
.signup-main .form-list input {
    width: 100%;
    padding: 15px 15px;
    background-color: #f4f4f4;
    border: 1px solid white;
    border-radius: 5px;
}
::placeholder {
    color: #0b323b;
}
.form-list button {
    width: 100%;
    padding: 15px 0;
    background-color: #0b323b;
    color: white;
    border: 1px solid orange;
    border-radius: 5px;
}
.signup-footer {
    height: 60px;
    /* background-color: blue; */
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.signup-footer h1 {
    color: #0b323b;
}